<h1>Demo#hello</h1>
<p>This is from hello</p>

<%= 2*2 %>
<%= 1+1 %>
<br />

<% target = "world" %>
<%= "hello #{target}" %>

<% @array.each do |n| %>
<%= n %> <br />
<% end %>

<br />

ID: <%= params[:id] %><br />
ID: <%= @id %><br />
Page: <%= @page %><br />
Next Page: <%= @page + 1 %>

<hr />
<%= params.inspect %>







	


