<h1>Demo#index</h1>
<p>This is from index</p>

<a href ="/demo/hello"> Hello page 1 </a> <br />
<%= link_to('Hello page 2' , {:action => 'hello'}) %>  <br />


<%= link_to('Hello with parameters' , {:action => 'hello' , :id => 20, :page => 5}) %>
